path.link {
    fill: none;
    stroke: #bbb;
    cursor: pointer;
    /* uncomment if you want the same stroke-width and use color instead */
    /*stroke-width: 1.5px;*/
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
    cursor: pointer;
}

image {
    cursor: pointer;
}

text {
    fill: #00a;
    font: 12px sans-serif;
    pointer-events: none;
    z-index: 99;
}

.hidden {
    display: none;
}
