@model pbipaembed.Models.EmbedConfig

@{
    ViewBag.Title = "MyReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="buttonsWrapper">
    <h1 class="user">Show content from my own Power BI account (requires sign in)</h1>
    <h3><a id="btnListUserGroups" href="~/MyReport/ListUserGroups">List User Groups</a></h3>
</div>