
@{
    ViewBag.Title = "Home Page";
}

<div>
    <ul class="big-font">
        <li>@Html.ActionLink("Integrate Report in Line-Of-Business app (Single Tenant)", "LOBReport", "Home")</li>
        <li>@Html.ActionLink("Embed Report in ISV app(Multi Tenant)", "ISVReport", "Home")</li>
    </ul> 
</div>
