
@{
    ViewBag.Title = "LOBReport";
}

@if (ViewBag.accessToken != null)
{
@section EmbedBIScripts{

    <script src="/Scripts/powerbi.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var embedConfiguration = {
                type: 'report',
                accessToken: '@ViewBag.accessToken',
                id: '6c36a150-232c-4821-a021-460e8b9af689',
                embedUrl: 'https://msit.powerbi.com/reportEmbed'
            };
            var reportContainer = document.getElementById('reportContainer');
            var report = powerbi.embed(reportContainer, embedConfiguration);

            ////if using iframe without powerbi.js
            //var iframeR = document.getElementById('reportContainer');
            //iframeR.src = "https://msit.powerbi.com/reportEmbed?reportId=6c36a150-232c-4821-a021-460e8b9af689";
            //iframeR.onload = postActionLoadReport;
            //var iframeT = document.getElementById('tileContainer');
            //iframeT.src = "https://msit.powerbi.com/embed?dashboardId=aaabaec8-c580-4233-b91c-eaba8573ed21&tileId=ca1005d9-93ec-43be-94ff-fec0f9daab08";
            //iframeT.onload = postActionLoadTile;
        }

        @*function postActionLoadReport() {
            // Construct the push message structure
            // This is where you assign the Access Token to get access to the tile visual
            var messageStructure = {
                action: "loadReport",
                accessToken: '@ViewBag.accessToken'
            };
            message = JSON.stringify(messageStructure);
            // Push the message
            document.getElementById('reportContainer').contentWindow.postMessage(message, "*");;
        }
        function postActionLoadTile() {
            // Construct the push message structure
            // This is where you assign the Access Token to get access to the tile visual
            // !! width and height are important to tiles, otherwise they don't know how to render !!
            var messageStructure = {
                action: "loadTile",
                accessToken: '@ViewBag.accessToken',
                height: 500,
                width: 500
            };
            message = JSON.stringify(messageStructure);
            // Push the message
            document.getElementById('tileContainer').contentWindow.postMessage(message, "*");;
        }*@
    </script>

}
}
<h2>LOBReport</h2>
<div id="reportContainer" style="height:700px;width:100%">
    @if (ViewBag.accessToken == null)
    {
        <p>You are signed in without the authorization code for this app, please sign out and sign in again.</p>
        <form action="/Account/SignOut"><input type="submit" value="Sign Out"></form>
    }
</div>
@*<div>
    <iframe id="reportContainer" height="700" width="100%"></iframe>
    <iframe id="tileContainer" height="500" width="100%"></iframe>
</div>*@


