################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin
**/obj
**/App_Data
**/packages
**/PublishScripts
**/Assets
**/target
**/.settings
**/.project
**/.classpath
*.suo
*.user
*.1
*.pubxml
*.private
*.gitattributes
*.mdf
*.ldf
*.cache-main
*.powerbirc
dependency-reduced-pom.xml
