################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MTPbiOdata/.vs
/MTPbiOdata/AcmeOData/bin
/MTPbiOdata/AcmeOData/obj
/MTPbiOdata/ContosoOData/bin
/MTPbiOdata/ContosoOData/obj
*.user
/MTPbiOdata/ISVWebApp/App_Data
/MTPbiOdata/ISVWebApp/bin
/MTPbiOdata/ISVWebApp/obj
*.1
/MTPbiOdata/packages
/MTPbiOdata/PublishScripts
/KubernetesOnAzure/.vs
/AzureClusterDeploy/.vs
/AutoADF/AutoADF/bin/Debug
*.exe
*.pdb
/AADMultiTenantWebApp/.vs
/AzureSQLReportMgr/AzureRM/bin/Debug
/AzureSQLReportMgr/AzureRM/obj/Debug
/Blog2Speech/.vs
/Blog2Speech/Blog2Speech/Assets
/Blog2Speech/Blog2Speech/bin
/Blog2Speech/Blog2Speech/obj
/ClouderaAD/.vs
/ClouderaCustom/.vs
*.suo
/PowerBIRest/packages
/PowerBIRest/PowerBIRest/bin/Debug
/PowerBIVisual/.vs/config
/SQLSyncTest/SQLSyncTest/bin/Debug
/SQLSyncTest/SQLSyncTest/obj/Debug
/SQLSyncTest/SyncMonSite/bin
/SQLSyncTest/SyncMonSite/obj/Debug
*.vspscc
*.vssscc
/STPowerBIEmbed/mvpembed/bin
/STPowerBIEmbed/mvpembed/obj
*.pubxml
/STPowerBIEmbed/mvpembed/pbi.html
*.private
/STPowerBIEmbed/packages
/AADMultiTenantWebApp/obj/Debug
/AADMultiTenantWebApp/packages
/AutoADF/AutoADF/obj/Debug
/AutoADF/packages
/AzureClusterDeploy
/AzureSQLReportMgr
/Blog2Speech
/ClouderaAD/postad.privateparam.json
/EventHubStream/.settings
/EventHubStream
/GISWork
/HadoopPerf
/LargeBlobUploader
/PowerBIRest/PowerBIRest/obj/Debug
/PowerBIVisual
/ResourceGroupMgmt
/STPowerBIEmbed
/StreamAnalyticsDemo
*.gitattributes
/ClouderaCustom/privateparam.json
/AADMultiTenantWebApp/bin/roslyn
/AADMultiTenantWebApp/bin
