
**/.vs
**/bin
**/obj
**/App_Data
**/packages
**/PublishScripts
**/Assets
**/target
**/.settings
**/.project
**/.classpath
*.suo
*.user
*.1
*.pubxml
*.private
*.gitattributes
*.mdf
*.ldf
*.cache-main
*.powerbirc
*.vspscc
*.vssscc
dependency-reduced-pom.xml
GISWork
Blog2Speech
IoTSimulator
