
@{
    ViewBag.Title = "Home Page";
}

<div>
    <ul class="big-font">
        <li>@Html.ActionLink("Integrate Reports in multi tenant Line-Of-Business app", "LOBReport", "Home")</li>
        <li>@Html.ActionLink("Integrate Dashboards in multi tenant Line-Of-Business app", "LOBDashboard", "Home")</li>
        <!--li>@Html.ActionLink("Embed Report in ISV app(Multi Tenant)", "ISVReport", "Home")</-->
    </ul> 
</div>
