
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Power BI Integrated Reports and Dashboards</h1>
    <p class="lead">This sample demonstrate a multi-tenant application that serves each tenant reports and dashboards in their respective Power BI subscription</p>
    Source code is located on GitHub <a href="https://github.com/liupeirong/Azure/blob/master/PowerBIISV/pbiintegrate">here</a>.
</div>
