
@{
    ViewBag.Title = "ISVReport";
}

@section EmbedBIScripts{

<script src="/Scripts/powerbi.js"></script>
<script type="text/javascript">
    window.onload = function () {
        var embedConfiguration = {
            type: 'report',
            accessToken: '@ViewBag.accessToken',
            id: '@ViewBag.reportId',
            embedUrl: 'https://embedded.powerbi.com/appTokenReportEmbed'
        };
        var reportContainer = document.getElementById('reportContainer');
        var report = powerbi.embed(reportContainer, embedConfiguration);

        ////using iframe directly without powerbi.js
        //var iframeISV = document.getElementById('reportContainer');
        //iframeISV.src = "https://embedded.powerbi.com/appTokenReportEmbed?reportId=69c06944-dcbb-4115-82b7-a98fd2a27d50";
        //iframeISV.onload = postActionLoadISV;
    }

    @*function postActionLoadISV() {
        // Construct the push message structure
        // This is where you assign the Access Token to get access to the tile visual
        var messageStructure = {
            action: "loadReport",
            accessToken: '@ViewBag.accessToken'
        };
        message = JSON.stringify(messageStructure);
        // Push the message
        document.getElementById('reportContainer').contentWindow.postMessage(message, "*");;
    }*@
</script>
    
}
<h2>ISVReport</h2>
<div id="reportContainer" style="height:700px;width:100%"></div>
@*<div><iframe id="reportContainer" height="700" width="100%"></iframe></div>*@
