<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Power BI Premium Embed for non Power BI User</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>
    @Html.Partial("_LoginPartial")
    @RenderBody()
</body>
</html>
