@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Power BI Embedded with OData</h1>
    <p class="lead">This sample demonstrate an Azure Active Directory multi-tenant application that serves each tenant an Embedded Power BI report based on their respective OData feed</p>
    Source code is located on GitHub <a href="https://github.com/liupeirong/Azure/blob/master/PowerBIISV/pbiembed">here</a>.
</div>
