@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Power BI Embedded with OData</h1>
    <p class="lead">This sample demonstrate an Azure Active Directory multi-tenant application that serves each tenant an Embedded Power BI report based on their respective OData feed</p>
    <ul>
    <li>log in as admin@pliucontoso.onmicrosoft.com to see the contoso report based on odata feed: https://contosoodata.azurewebsites.net/Products</li>
    <li>log in as admin@pliuacme.onmicrosoft.com to see the acme report based on odata feed: https://acmeodata.azurewebsites.net/Products</li>
    </ul>
    <p>Source code is located on GitHub https://github.com/liupeirong/Azure/blob/master/PowerBIISV/pbiembed </p>
</div>
