@model pbipaembed.Models.TilesViewModel

@{
    ViewBag.Title = "List Tiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="isv">Select a tile:</h2>
@using (Html.BeginForm("EmbedTile", "ISVCanned", FormMethod.Post))
{
    @Html.DropDownList("SelectedTile", new SelectList(Model.Tiles, "Id", "Title"))
    <input type="hidden" name="SelectedDashboard" value=@Model.DashboardId />
    <input type="submit" value="Embed" />
}