
@{
    ViewBag.Title = "LOBDashboard";
}

<h2>LOBDashboard</h2>
@if (ViewBag.accessToken != null)
{
    @section EmbedBIScripts{

        <script type="text/javascript">
        window.onload = function () {
            document.getElementById("Dashboards").addEventListener("change", displayDashboard);
            displayDashboard();
        }

        function displayDashboard() {
            var selected = document.getElementById('Dashboards').value;
            if (selected == null) return;
            var index = selected.lastIndexOf("dashboardId=");
            index += 12;
            var embedConfiguration = {
                type: 'dashboard',
                accessToken: '@ViewBag.accessToken',
                id: selected.substring(index),
                embedUrl: selected
            };
            var iframeT = document.getElementById('dashboardContainer');
            iframeT.src = selected;
            iframeT.onload = postActionLoadDashboard;
        }

        function postActionLoadDashboard() {
            var messageStructure = {
                action: "loadDashboard",
                accessToken: '@ViewBag.accessToken',
                height: 500,
                width: 500
            };
            message = JSON.stringify(messageStructure);
            document.getElementById('dashboardContainer').contentWindow.postMessage(message, "*");;
        }

        </script>
    }
}
@if (ViewBag.Dashboards != null)
{
    @Html.DropDownList("Dashboards", (SelectList)ViewBag.Dashboards)
}
<div>
    <iframe id="dashboardContainer" height="500" width="100%"></iframe>
</div>

