@model pbipaembed.Models.EmbedConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="buttonsWrapper">
    <h1 class="isv">Embed ISV Content</h1>

    <h3><a id="btnListReports" href="~/Home/ListReports">List Reports</a>(requires sign in for RLS)</h3>
    <h3><a id="btnListDashboard" href="~/Home/ListDashboards">List Dashboards</a></h3>
    <h3><a id="btnListDatasets" href="~/Home/ListDatasets">List Datasets</a></h3>

    <h1 class="user">Embed User Content (requires sign in)</h1>
    <h3><a id="btnListUserGroups" href="~/Home/ListUserGroups">List User Groups</a></h3>
</div>