@model pbipaembed.Models.EmbedConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="buttonsWrapper">
    Select an entity to embed.<br /><br />

    <a id="btnListReports" href="~/Home/ListReports">List Reports</a>
    <br />

    <a id="btnListDashboard" href="~/Home/ListDashboards">List Dashboards</a>
    <br />

    <a id="btnListDatasets" href="~/Home/ListDatasets">List Datasets</a>
    <br />
</div>