@model pbipaembed.Models.EmbedConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="buttonsWrapper">
    Select an entity to embed.<br /><br />

    <a id="btnEmbedReprot" href="~/Home/EmbedReport">Embed Report</a>
    <br />

    <a id="btnEmbedDashboard" href="~/Home/EmbedDashboard">Embed Dashboard</a>
    <br />

    <a id="btnEmbedTile" href="~/Home/EmbedTile">Embed Tile</a>
    <br />

    <a id="btnCreateReport" href="~/Home/CreateReport">Create Report</a>
    <br />
</div>