@model pbipaembed.Models.EmbedConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="buttonsWrapper">
    <h1 class="isv">Welcome to CoolISV Inc!</h1>
    <h3>Click on the tabs above to explore either the reports we created for you, or your own Power BI reports</h3>
</div>