<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Azure Report Manager</title>
    <link rel="stylesheet" href="~/content/ui-grid.min.css">
</head>

<body>
    <div ng-view id="mainView"></div>
</body>
</html>