<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!--don't change these-->
      <add key="ActiveDirectoryEndpoint" value="https://login.windows.net/" />
      <add key="ResourceManagementEndpoint" value="https://management.azure.com/" />
      <add key="ServiceManagementEndpoint" value="https://management.core.windows.net/" />
      <add key="AdfClientId" value="1950a258-227b-4e31-a9cf-717495945fc2" />
      <add key="RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />

      <!--this is resource manager app id in active directory-->
      <add key="ClientAppId" value="2d2a46f4-ebb9-4199-8057-971c72075fb6" />
    </appSettings>
</configuration>