<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <!--for each db in a sync group, create an empty table using the following statement:
        create table SyncAgent (Name varchar(32) primary key, Value int not null, LastUpdated datetime not null default getdate()). 
        Sync the following fields: Name, Value.  Don't sync the following fields:  LastUpdated
    -->
    <add name="sql1" connectionString="your sql1 connection string" providerName="System.Data.SqlClient"/>
    <add name="sql2" connectionString="your sql2 connection string" providerName="System.Data.SqlClient"/>
    <add name="sql3" connectionString="your sql3 connection string" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="syncgroup" value="sql1;sql2"/>
    <!-- max time that followers can be out of sync with the leader -->
    <add key="syncmaxdelayinseconds" value="900"/>
    <!-- frequency for querying the dbs to check sync status and output status-->
    <add key="synccheckinseconds" value="300"/>
    <add key="blobConnectionString" value="your blob connection string"/>
    <add key="blobContainer" value="sqldatasync"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>